{% extends 'base.html.twig' %}

{% block title %}Hello SubscriptionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
{% for price in prices %}
    <div>
        {# <h3>{{ price.product.name }}</h3> #}
        <p>Prix : {{ price.unit_amount / 100 }} {{ price.currency | upper }}</p>
        <a href="{{ path('payment_checkout', { priceId: price.id }) }}" class="btn btn-primary"  data-turbo="false">Choisir</a>
    </div>
{% endfor %}

</div>
{% endblock %}